<body>
    <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="img">
        <div class="center">
        <h1>Reset Password</h1>
        <form method="post" class="col s12 white" #log="ngForm" (ngSubmit)="OnSubmit(log)" onSubmit = "checkPassword(this)">
            <div class="txt_field">
                <input  class="validate" type="text" name="password1"  required  minlength="3">
                <span></span>
                <label>New Password</label>
              </div>
              <div class="txt_field">
                <input  class="validate" type="text" name="password2" #Password="ngModel" [(ngModel)]="pass.Password" required  minlength="3">
                <span></span>
                <label>Confirm Password</label>
              </div>
              <input type="submit" value="Reset" href="../home-page/home-page.component.html">
               <div class="signup_link">
             </div>
        </form>
      </div>
      
    </body>
    <script>
          
        // Function to check Whether both passwords
        // is same or not.
        function checkPassword(form) {
            password1 = form.password1.value;
            password2 = form.password2.value;

            // If password not entered
            if (password1 == '')
                alert ("Please enter Password");
                  
            // If confirm password not entered
            else if (password2 == '')
                alert ("Please enter confirm password");
                  
            // If Not same return False.    
            else if (password1 != password2) {
                alert ("\nPassword did not match: Please try again...")
                return false;
            }

            // If same return True.
            else{
                alert("Password Match: Welcome to GeeksforGeeks!")
                return true;
            }
        }
    </script>
