<body>
    <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="img">
        <div class="center">
        <h1>Reset Password</h1>
        <form method="post" class="col s12 white" #log="ngForm" (ngSubmit)="OnSubmit(log)">
            <div class="txt_field">
                <input  class="validate" type="text" name="MobileNumber" #MobileNumber="ngModel" [(ngModel)]="reset.MobileNumber" required  minlength="3">
                <span></span>
                <label>MobileNumber</label>
              </div>
              <div class="txt_field">
                <input  class="validate" type="text" name="SecurityQuestionPlace" #SecurityQuestionPlace="ngModel" [(ngModel)]="reset.SecurityQuestionPlace" required  minlength="3">
                <span></span>
                <label>Place You Have Born</label>
              </div>
              <div class="txt_field">
                <input  class="validate" type="text" name="SecurityQuestionMobile" #SecurityQuestionMobile="ngModel" [(ngModel)]="reset.SecurityQuestionMobile" required  minlength="3">
                <span></span>
                <label>Your First Mobile</label>
              </div>
              <input type="submit" value="Reset" routerLink="/pass">
               <div class="signup_link">
             </div>
        </form>
      </div>
      
    </body>
