<link rel="stylesheet" href="../cartdetails/cartdetails.component.css">
<script src="script.js"></script>
<div class="container">
    <table class="table table-bordered table-striped">
      <tr>
        <th>ProductName</th>
        <th>ProductDescription</th>
        <th>Price</th>
        <th>Size</th>
      </tr>
      <tbody>
      <tr class="cart-item" *ngFor="let getCart of items ">
        <td>{{getCart.productName}}</td>
        <td>{{getCart.productDescription}}</td>
        <td>{{getCart.price}}</td>
        <td>{{getCart.size}}</td>
        <td>Quantity
        </td>
        <div class="form-check-inline">
          <button class="btn btn-primary" (click)="plus(getCart)">+<i class="fa fa-plus"></i></button>
          </div>
          <div class="form-check-inline">
          <input type="text" class="form-control" [(ngModel)]="inputnumber" readonly>
          </div>
          <div class="form-check-inline">
          <button class="btn btn-primary" (click)="minus(getCart)">-<i class="fa fa-minus"></i></button>
          </div>
        <td>
          Total price
          <div class="form-check-inline">
            <input type="text" class="form-control" [(ngModel)]="qprice" readonly>
            </div>
        </td>
       
      </tr>
      <button class="btn btn-danger" (click)="clear">Clear Cart</button>
      </tbody>

    </table>
  </div> 
  <div class="subtotal cf">
    <ul>
      <button type="button" class="btn btn-success">Checkout</button>
    </ul>
  </div>
