
<style>
  .card-title{
    font-size:x-large;
    color: teal;
  }
  .card-price{
    font-size: large;
  }
  .card-size{
    font-size: medium;
    color: brown;
  }
</style>
<section id="about">
  <div class="container">
      <div class="row">
      <div class="col-md-3">
          
                <div class="card mb-3">
<img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <p class="card-text"><small class="text-muted">REEBOK</small></p>
  <h5 class="card-title">Wills T-Shirt</h5>
  <p class="card-title">T-Shirt</p>
  <p class="card-price">Price: Rs:300</p>
  <p class="card-size">Size- S/M/L</p>
  <button type="button" class="btn btn-info">Add to Cart</button>
</div>
</div>
          </div>
          <div class="col-md-3 ">
            <div class="card mb-3">
                  <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">REEBOK</small></p>
                    <h5 class="card-title">Tommy T-Shirt</h5>
                    <p class="card-title">Sleve T-Shirt</p>
                    <p class="card-price">Price: Rs:300</p>
                    <p class="card-size">Size- S/M/L</p>
                    <button type="button" class="btn btn-info">Add to Cart</button>
                  </div>
                </div>
          </div>
          <div class="col-md-3 ">
            <div class="card mb-3">
                  <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">PUMA</small></p>
                    <h5 class="card-title">Commics Shirt</h5>
                    <p class="card-title">Full Hand</p>
                    <p class="card-price">Price: Rs:400</p>
                    <p class="card-size">Size- S/M/L</p>
                    <button type="button" class="btn btn-info">Add to Cart</button>
                  </div>
                </div>
          </div>
      </div>
      </div>
</section>